@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
body {
  height:100vh;
  font-family: 'Poppins', sans-serif;
  font-size:3vw;
  text-transform: uppercase;
  width: 100vw;
  background: #18191f;
  overflow: hidden;
}
.disappear {
  position: absolute;
  left:0;
  right:0;
  margin-top: 10%;
  margin-left: 25%;
  width:50%;
  text-align: center;
  height:fit-content;
  bottom:0;
  top:0;
}
.disappear span {
  display: inline-block;
  color:transparent;
  text-shadow: 0px 0px 0px white;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.disappear span:nth-child(1){
  animation-name: disappearleft;
}
.disappear span:nth-child(2){
  animation-name: disappearleft;
  animation-delay: .3s;
}
.disappear span:nth-child(3){
  animation-name: disappearight;
  animation-delay: .6s;
}
.disappear span:nth-child(4){
  animation-name: disappearleft;
  animation-delay: .8s;
}
.disappear span:nth-child(5){
  animation-name: disappearight;
  animation-delay: 1s;
}
.disappear span:nth-child(6){
  animation-name: disappearight;
  animation-delay: 1.3s;
}
.disappear span:nth-child(7){
  animation-name: disappearleft;
  animation-delay: 1.6s;
}
.disappear span:nth-child(8){
  animation-name: disappearight;
  animation-delay: 2s;
}
.disappear span:nth-child(9){
  animation-name: disappearight;
  animation-delay: 2.3s;
}
@keyframes disappearleft{
  30% {transform: skew(50deg) translateY(-200%);
      text-shadow: 0px 0px 50px;
        opacity: 0;
  }
}
@keyframes disappearight{
  30% {transform: skew(-50deg) translateY(-200%);
      text-shadow: 0px 0px 50px;
        opacity: 0;
  }
}

*{
  margin:0;
  padding:0;
}
.container {
  background: #2c001e;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  /* background: #f0f0f0; */
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
                5px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
  /* animation-fill-mode: forwards; */
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background-image: url("../data1/images/logo.jpg");
    /* background: #f0f0f0; */
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;

  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    background-image: url("../data1/images/logo.jpg");
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }

  70%, 100% {
    width: 350px;
    height: 180px;
    background: #fafafa;
    box-shadow:  10px 10px 10px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 2px 2px 2px #ffffff inset;
     background-image: url("../data1/images/_1.jpg");
     background-repeat: no-repeat;
  }
}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#apple,
#twitter,
#github,
#facebook {
  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


#container3 {

	position: absolute;
	margin-top: 18%;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
  color: #fff;
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Raleway', sans-serif;
	font-size: 80pt;
	
	text-align: center;
	
	user-select: none;
}
